/****************************************
 * MENU *
 ****************************************/

header {
    display: flex;
    height: 100px;
    z-index: 10;

    #abrir-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
        padding: 12px 10px;
        position: fixed;
        left: 0;
        top: 0;
        color: white;
        background-color: $azul;
        transition: $transicao;
        font-style: italic;
        cursor: pointer;
        &.bgescuro {
            background-color: $azulescuro;
        }
        &:hover {
            background-color: $azulescuro;
            img {
                transform: scale(0.8);
            }
        }
        img {
            transform: scale(1);
            transition: $transicao;
        }
    }

    .item-menu {
        padding: 10px 20px;
        color: white;
        background-color: $azul;
        transition: $transicao;
        font-style: italic;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background-color: $azulescuro;
        }
        &.voltar {
            display: flex;
            flex-direction: row;
            column-gap: 12px;
            img {
                right: 0;
                transition: $transicao;
                position: relative
            }
            &:hover {
                img {
                    right: 5px;
                }
            }
        }
        @media (max-width: $smart-maior) {
            top: 10px;
            font-size: 0.8em;
        }
    }
}

#fechar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    padding: 12px 10px;
    color: white;
    background-color: $azul;
    transition: $transicao;
    font-style: italic;
    cursor: pointer;
    &:hover {
        background-color: $azulescuro;
        img {
            transform: rotate(90deg);
        }
    }
    img {
        transform: rotate(0deg);
        transition: $transicao;
    }
}

#menu-aberto {
    height: 100vh;
    overflow: hidden;
    padding: 40px;
    z-index: 10;
    transition: $transicao;
    position: fixed; 
    background-color: $azul;
    top: 0;
    @media (min-width: $smart-maior) {
        width: 460px;
        left: -100%;
    }
    @media (max-width: $desktophd) {
        left: -100%;
    }
    @media (max-width: $smart-maior) {
        width: 100%;
        left: -100%;
    }
    .itens-menu {
        width: 85%;
        margin-bottom: 40px;
        ul {
            margin-top: 80px;
            font-size: 20px;
            color: white;
            li {
                position: relative;
                padding: 10px 0;
                margin-bottom: 5px;
            }
            .menus {
                padding: 5px 0;
                position: relative;
                z-index: 10;
                transition: $transicao;
                cursor: pointer;
                font-style: italic;
                &:hover, &:focus  {
                    color: white;
                    padding: 5px 10px;
                }
            }
        }
    }
}

.ativa { 
    left: 0 !important;
    #fechar-menu {
        position: absolute;
        top: 0;
        right: 0;
    }
}


/****************************************
 * PÁGINA *
 ****************************************/
 
 .estilo1 {
    max-width: 1200px;
    justify-content: center;
    padding: 60px 0;
    background-color: $bejeclaro;
    margin: auto;
    @media (max-width: $smart-maior) {
            padding: 40px 20px;
    }
    .logos {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0 240px;
        @media (max-width: $smart-maior) {
            padding: 0 40px;
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }
    .textos {
        max-width: 860px;
        margin: auto;
        margin-top: 60px;
        padding: 60px;
        background-color: white; 
        @media (max-width: $smart-maior) {
            padding: 20px;
        }
        h1 {
            color: $azul;
            max-width: 380px;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 40px;
        }
        p {
            max-width: 600px;
            margin: 0 auto 20px;
        }

        a {
            padding: 10px 20px;
            color: white;
            background-color: $azul;
            transition: $transicao;
            font-style: italic;
            border-radius: 5px;
            cursor: pointer;
            margin: 60px 0 0 70px;
            display: block;
            width: fit-content;
            &:hover {
                background-color: $azulescuro;
            }
            @media (max-width: $smart-maior) {
                margin: 60px 0 30px;
            } 
        }
    }
    .destaque {
        background-color: $azul;
        max-width: 940px;
        display: flex;
        flex-direction: row;
        margin: auto;
        padding: 60px 80px;
        column-gap: 40px;
        color: white;
        @media (max-width: $smart-maior) {
            margin: 0 -20px;
            flex-direction: column;
            padding: 60px 30px;
        }
        div {
            flex-grow: 1;
            flex-basis: 0;
        }
        h2 {
            font-style: italic;
            margin-bottom: 20px;
        }
        p {
            font-size: 0.9em;
            color: white;
            line-height: 1.5em;
        }
        .texto2 {
            @media (min-width: $smart-maior) {
                margin-top: 80px;
            } 
        }
        .texto3 {
            @media (min-width: $smart-maior) {
                margin-top: 160px;
            }
        }
    }
    .imagens {
        display: flex;
        flex-direction: column;
        align-items: center;
        .elemento {
            width: 260px;
            z-index: 0;
        }
        .homenageado {
            width: 150px;
            filter: grayscale(1);
            border-radius: 100px;
            margin-top: -165px;
            z-index: 2;
        }
    }

    .dados { 
        background-color: white;
        padding: 100px 60px 80px;
        max-width: 720px;
        margin: -60px auto 0;
        z-index: 1;
        @media (max-width: $smart-maior) {
            padding: 80px 30px;
        }
        h1, h3 {
            text-align: center;
            font-style: italic;
            color: $azul;
        }
        .ano {
            text-align: center;
            font-size: 0.9em;
            color: $azul;
            margin-bottom: 10px;
        }
        .cargo {
            text-align: center;
            color: #969696;
        }
    }
    .compartilhar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;
        margin-top: 20px;
    }
}

.estilo2 {
    width: 100%;
    .lista {
        width: 70%;
        float: right;
        justify-content: center;
        padding: 100px 120px;
        background-color: $bejeclaro;
        margin: auto;
        @media (max-width: $tablet) {
            width: 100%;
            float: unset;
            padding: 60px 80px;
        }
        @media (max-width: $smart-maior) {
            padding: 40px 20px;
        }
    }
    .textos {
        h1 {
            width: 360px;
            font-style: italic;
            margin-bottom: 60px;
            @media (max-width: $smart-maior) {
                width: 100%;
            }
        }
        p {
            width: 420px;
            margin-bottom: 40px;
            @media (max-width: $smart-maior) {
                width: 100%;
            }
        }
    }
    .nomes {
        max-width: 760px;
        background-color: #fff;
        padding: 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
        @media (max-width: $smart-maior) {
            padding: 35px 20px;
        }
        .nome {
            width: 45%;
            padding: 10px 5px;
            border: 1px solid white;
            transition: $transicao;
            @media (max-width: $tablet) {
                width: 100%;
            }
            &:hover {
                border-radius: 5px;
                border: solid 1px $beje;
                img {
                    filter: brightness(0.3);
                }
            }
            h3 {
                font-size: 1em;
            }
            p {
                font-size: 0.75em;
                margin-bottom: unset;
                color: #969696;
            }
            img {
                float: left;
                margin: 10px;
                position: relative;
                filter: brightness(1);
                transition: $transicao;
            }
        }
    }
    .logos {
        width: 30%;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        padding: 60px;
        position: fixed;
        @media (max-width: $tablet) {
            width: 100%;
            float: unset;
            position: unset;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @media (max-width: $smart-maior) {
            flex-direction: column;
            padding: 0 60px 40px;
        }
    }
}

.fichatecnica {
    background-color: white;
    max-width: 980px;
    padding: 60px;
    margin: 60px auto;
    @media (max-width: $smart-maior) {
        padding: 60px 30px;
    }
    h3 {
        color: $azul;
        margin-bottom: 30px;
        font-weight: 600;
    }
    @media (min-width: $smart-maior) {
        .col {
            width: 48%;
            display: inline-block;
            vertical-align: top;
            &:first-child {
                padding-right: 25px;
            }
            &:last-child {
                padding-left: 25px;
            }
        }
    }
}

.catalografica {
    width: 100%;
    max-width: 800px;
    font-size: 0.8em;
    margin: 60px auto 0;
    .topo     {
        position: relative;
        width: 100%;
        font-size: 1em;
        padding: 10px 25px;
        background: black;
        color: white;
        font-weight: bold;
        text-align: center;
        max-width: 100%;
        margin: unset;
    }
    .caixa {
        display: flex;
        padding: 20px;
        border: 1px solid #ededed;
        margin-bottom: 1em;
        background-color: white;
        p {
            margin-bottom: 1em;
        }
    }
    .codigo {
        flex-shrink: 0;
        margin-right: 2em;
    }
} 


 /****************************************
 * RODAPÉ *
 ****************************************/
 
 .rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto 0;
    img {
        margin-bottom: 20px;
    }
    p {
        font-style: italic;
        font-size: 0.85em;
        a {
            font-weight: bold;
        }
    }
 }